<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Pi Video Surveillance</title>
        <style>
            h1{
                font-size:55px;
            }
            #p1{
                color: #2b542c;
            }
            body{
                background-image: url("../static/factbg.jpg");
            }
        </style>
    </head>
    <body  alink="white" vlink="blue" topmargin="50px" leftmargin="50px">
<!--    background="../static/factbg.jpg"-->
        <a href="https://cs.nju.edu.cn/rinc/index.html">rinc</a>
        <h1 align="center">Video Surveillance</h1>
        <span style="font-family:楷体; color: #a52a2a;font-size:33px "><b><center>这是一个演示窗口</center></b></span><br>
        <div style="text-align: center;"><img align="middle" src="{{url_for('video_feed') }}" ></div>
<!--        <hr>-->
<!--        <marquee>click to get picture</marquee>-->
<!--        <hr>-->
<!--        <p id="p1">错误类型:-->
<!--         <ol>-->
<!--            <li>error1</li>-->
<!--            <li>error2</li>-->
<!--        </ol>-->
<!--        <form>-->
<!--&lt;!&ndash;            user:<input type="text" name="user">&ndash;&gt;-->
<!--&lt;!&ndash;            passsword:<input type="password">&ndash;&gt;-->
<!--            <center>getpic:<input type="button" ></center>-->
<!--        </form>-->
<!--        </p>-->



    </body>
</html>